sudo: required

services:
  - docker

before_install:
  - docker build -t vikram-chauhan/react-test -f ./client/Dockerfile.dev ./client

script:
  - docker run -e CI=true vikram-chauhan/react-test npm test

after_success:
  - docker build -t vikramchauhan27/multi-client ./client
  - docker build -t vikramchauhan27/multi-nginx ./nginx
  - docker build -t vikramchauhan27/multi-server ./server
  - docker build -t vikramchauhan27/multi-worker ./worker
  - echo "$DOCKER_PWD" | docker login -u "$DOCKER_ID" --password-stdin
  - docker push vikramchauhan27/multi-client
  - docker push vikramchauhan27multi-nginx
  - docker push vikramchauhan27/multi-server
  - docker push vikramchauhan27/multi-worker
